body
{
    text-align: center;
    background-color: lightgreen;
}
p{
  background-color: lightyellow;
  font-weight: 700;
  font-size: 22pt;
}

form{
background-color: azure;
}


table
{
    text-align: center;
    background-color: lightyellow;
}

tr{
  background-color: violet;
}

input{
  font-size: 17pt;
}

td{
  font-size: 15pt;

}
